<!DOCTYPE html>
<html lang="es-ES"> <!--...-->
		<head> <!--Metadatos OBLIGATORIA-->
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Somos expertos en desarrollo inmobiliario, con mas de 20 años de experiencia en el mercado">  <!--Agragar Descripcion-->
		<link rel="preconnect" href="https://fonts.googleapis.com"><!-- estilo fuente-->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- estilo fuente-->
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> <!-- estilo fuente-->
		<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.css">  <!--Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">  <!-- Archivo de estilos -->
		<link rel="icon" type="image/x-icon" href="/static/logo/favicon.ico"><!--Icono-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
		crossorigin="anonymous" referrerpolicy="no-referrer" /> <!--link del CDM de los iconos-->
		<title> Realestate </title> <!--titulo-->
	</head>
	<body>

		<header id="home" class="fixed-top custom-header">
			<div class="container" style="height: 100px; margin-top: 0px;">
				<div class="row align-items-center">
					<div class="col-md-3 d-flex align-items-center">
						<img src="static/logo/logo.png" alt="logo" class="logo-img me-2">
						<p class="mb-0 logo-text">Realestate</p>
					</div>
					<div class="col-md-9">
						<nav class="navbar navbar-expand-md navbar-dark">
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="menu">
								<ul class="navbar-nav ms-auto">
									<li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
									<li class="nav-item"><a class="nav-link" href="#nosotros">Nosotros</a></li>
									<li class="nav-item"><a class="nav-link" href="#serie">Serie</a></li>
									<li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
									<li class="nav-item"><a class="nav-link" href="#ubicacion">Ubicación</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<section id="hero"> <!--banner principal-->
			<div class="container">
				<h1>Nuestros Desarrollos</h1>  <!-- Texto central del banner principal-->
				<div class="container">
					<div class="carousel slide" id="carousel1" data-bs-ride="carousel"> <!--Establecemos la clase css y Js para generar el carrusel-->
						<ul class="carousel-indicators" style="list-style-type:none;"> <!--lista de items (crea rectangulos abajo de cada imagen) agramos el style para que oculete los indicadores de la lista-->
							<li data-bs-target="#carousel1" data-bs-slide-to="0" class="active"></li>
							<li data-bs-target="#carousel1" data-bs-slide-to="1"></li>
							<li data-bs-target="#carousel1" data-bs-slide-to="2"></li>
						</ul>
						<div class="carousel-inner"> <!--contenedor donde van a estar cada imagen de carrusel-->

							<div class="carousel-item active"> <!--establecemos este item como activo, asi se muestra ni bien carga la pagina-->

								<div class="card">
									<img class="card-img-top" src="/static/img/vivienda.jpg" alt=""> 
									<div class="card-body">
										<h4 class="card.title">Titulo de la tarjeta</h4>
										<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ullam fuga fugiat, labore, cupiditate accusantium sed harum delectus consequuntur placeat hic ut optio nobis ad qui eos? Molestias, doloribus quasi.</p>
									</div>
									<div class="card-footer">
										<a href="#" class="btn btn-primary">Ver mas...</a> <!--Biton de la parte inferior de la tarjeta-->
									</div>
								</div>

							</div>
				
							<div class="carousel-item"> <!--establecemos este item como activo, asi se muestra ni bien carga la pagina-->

								<div class="card">
									<img class="card-img-top" src="/static/img/industria.jpg" alt=""> 
									<div class="card-body">
										<h4 class="card.title">Titulo de la tarjeta</h4>
										<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ullam fuga fugiat, labore, cupiditate accusantium sed harum delectus consequuntur placeat hic ut optio nobis ad qui eos? Molestias, doloribus quasi.</p>
									</div>
									<div class="card-footer">
										<a href="#" class="btn btn-primary">Ver mas...</a> <!--Biton de la parte inferior de la tarjeta-->
									</div>
								</div>

							</div>
							
							<div class="carousel-item "> <!--establecemos este item como activo, asi se muestra ni bien carga la pagina-->

								<div class="card">
									<img class="card-img-top" src="/static/img/edificio.jpg" alt=""> 
									<div class="card-body">
										<h4 class="card.title">Titulo de la tarjeta</h4>
										<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ullam fuga fugiat, labore, cupiditate accusantium sed harum delectus consequuntur placeat hic ut optio nobis ad qui eos? Molestias, doloribus quasi.</p>
									</div>
									<div class="card-footer">
										<a href="#" class="btn btn-primary">Ver mas...</a> <!--Biton de la parte inferior de la tarjeta-->
									</div>
								</div>

							</div>
						</div>
				
						<a class="carousel-control-prev" href="#carousel1" data-bs-slide="prev"> <!--boton de next para el carrusel-->
							<span class="carousel-control-prev-icon" aria-hidden="true"></span> <!--Muestra el icono del boton -->
							<span class="sr-only"></span> <!--texto al lado del icono del boton -->
						</a>
				
						<a class="carousel-control-next" href="#carousel1" data-bs-slide="next"> <!--boton de previus para el carrusel-->
							<span class="carousel-control-next-icon" aria-hidden="true"></span> <!--boton de previus para el carrusel-->
							<span class="sr-only"></span> <!--texto al lado del icono del boton -->
						</a>
					</div>
				</div>
			</div>
		</section>
	
		<section id="nosotros"> <!-- Sección Nosotros -->
			<div id="nosotros-container" class="container bg-white d-flex align-items-center justify-content-center" >
				<div class="row w-100">
					<!-- Video a la izquierda -->
					<div class="col-md-6 d-flex justify-content-center align-items-center">
						<video id="myVideo" class="w-100" autoplay loop muted>
							<source src="/static/img/Video.mp4" type="video/mp4">
							Su navegador no soporta la etiqueta de vídeo.
						</video>
					</div>
					<!-- Texto a la derecha -->
					<div class="col-md-6 d-flex justify-content-center align-items-center">
						<div class="textonosotros p-4">
							<h2>Sobre <br> <span class="color-acento">Realestate</span></h2> <!-- Título de la sección Nosotros -->
							<p>
								A través de la creación, inversión y gerenciamiento de las mismas, buscamos aportar valor agregado y seguir transformando las industrias a las que pertenecemos, 
								mejorando la experiencia de los clientes, dándoles un servicio diferencial y generando retornos a nuestros inversores. <br><br>
								Fomentamos una cultura de ética, sin egos, sinérgica y profesional; de puertas abiertas, creativa y de 
								pensamientos distintos; con plena confianza y delegación en nuestra gente; estableciendo relaciones verdaderas y de largo plazo.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="serie" class="bg-dark text-white text-center py-5 ">
			<div class="container">
				<h2 class="mb-4">Serie <span class="color-acento">Realestate</span></h2>
				<div class="row justify-content-center g-4">
					<div class="col-lg-4 col-md-6">
						<div class="card bg-dark text-white">
							<img src="/static/img/vivienda.jpg" class="card-img-top" alt="Viviendas">
							<div class="card-body d-flex flex-column text-center">
								<h3 class="card-title">Viviendas</h3>
								<p class="card-text d-none d-md-block">Un producto único, que busca generar una experiencia diferente en un entorno de disfrute, contención y tranquilidad, inmerso en la naturaleza. <br> Con unidades que se entregan totalmente decoradas y equipadas, con los más completos amenities y servicios, y en entornos que invitan a respirar naturaleza, disfrutar es el único resultado posible.</p>
								<a href="viviendasmobile.html" class="btn btn-light mt-3 ">+ info</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="card bg-dark text-white">
							<img src="/static/img/edificio.jpg" class="card-img-top" alt="Edificios">
							<div class="card-body d-flex flex-column text-center">
								<h3 class="card-title">Edificios</h3>
								<p class="card-text d-none d-md-block">Desarrollamos Edificio residencial Premium exclusivos. Ofrecemos la posibilidad de acceder a unidades en lista cero (al costo): a precio cerrado, sin ajustes CAC, sin comisiones inmobiliarias. Obra de bajo riesgo constructivo y financiero, con tiempos de obra cortos por contar con proyecto ya aprobado.</p>
								<a href="edificiosmobile.html" class="btn btn-light mt-3 ">+ info</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="card bg-dark text-white">
							<img src="/static/img/industria.jpg" class="card-img-top" alt="Industria">
							<div class="card-body d-flex flex-column text-center">
								<h3 class="card-title">Industria</h3>
								<p class="card-text d-none d-md-block">Somos especialistas en inmuebles industriales y contamos con un equipo de profesionales en el desarrollo y planificación de locaciones industriales. Aplicamos tecnologías de última generación, para cumplir con lo más alto estándares en seguridad y cuidado del medio ambiente.</p>
								<a href="industriasmobile.html" class="btn btn-light mt-3">+ info</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="contacto"><!--Seccion de formulario de contacto-->
			<div class="container"><!-- Contenedor general Titulo/formulario-imagen-->
				<div> <!-- Contenedor de titulo-->
					<h2>Contacto</h2>
		
				</div>
				<div class="contenedorform"> <!-- Contenedor Formualario e imagen -->
					<div class="formulario"> <!--Contenedor Formulario -->
						<form name="contacto" autocomplete="on" method="post" onsubmit="return validarFormulario();">
							
							<p>
							<label for="nombre">Nombre</label>
							<br>
							<input type="text" name="nombre" id="nombre" placeholder="Juan"  >
							</p>
							
							<p>
							<label for="apellido"> Apellido</label>
							<br>
							<input type="text" name="apellido" id="apellido" placeholder="Perez"  >
							</p>
							
							<p>
							<label for="telefono"> Telefono </label>
							<br>
							<input type="tel" name="telefono" id="telefono" placeholder="0115345456" >
							</p>

							<p>
							<label for="email"> Email </label>
							<br>
							<input type="email" name="email" id="email" placeholder="ejemplo@email.com" >
							</p>
							
							<div class="botones">
								<input type="submit" value="Enviar">	
								<input type="reset" value="Cancelar">
							</div>
						</form>
					</div>
				
					<div class="imgcontacto"></div><!--Imagen telefonista-->
				</div>
			</div>
		</section>

		<section id="ubicacion"> <!-- Seccion de Iframe Google Maps-->
			<div class="container">
				<h2>Ubicacion</h2> <!-- TiTulo-->
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d817.8500541816977!2d-57.953874576704685!3d-34.921498429018776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e62e3fc93575%3A0x6ffaec3bf616e000!2sPlaza%20Moreno!5e0!3m2!1ses-419!2sar!4v1695515733925!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</section> <!-- Mapa -->
		
		<footer> <!-- Parte de contactos-->
			<div class="container-fluid"><!--Contendor del copyright-->
				<div class="cajadatos">
					<div class="datos"> <!--Instagram -->
						<i class="fa-brands fa-square-instagram"></i> <a href="https://www.instagram.com/realestate/?hl=es" target="_blank">@reakestate</a>

					</div>
					<div class="datos"> <!--Whatsapp -->
						<i class="fa-solid fa-phone"></i><a href="https://api.whatsapp.com/send?phone=541143214321" target="_blank">1143214321</a>
						
					</div>
					<div class="datos"> <!-- Mail -->
						<i class="fa-solid fa-envelope"></i> <a href="mailto:consultas@realestate.com" target="_blank">consultas@realestate.com</a>
						
					</div>
					<div class="datos"> <!-- Localizacion -->
						<i class="fa-solid fa-location-dot"></i> <a href="https://maps.app.goo.gl/7smjejBQubtxXAZKA" target="_blank">Calle 14 N°12, La Plata, Buenos aires </a>
						
					</div>
				</div>
				<div class="copy"> <!-- Seccion Copy -->
					<p>&copy;Mi empresa 2023</p> <!--Etiqueta para agregar un copyright-->

				</div>
			</div>
		</footer>
		<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
		<script src="/static/js/video-control.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
	</body>
</html>

