{% extends "realestateapp/base.html" %}

{% load static %}

{% block content %}

	<section id="serieMobile">
			<div class="container text-center py-5 " id=containerMobile>
				<h2 class="mb-4">Serie <span class="color-acento">Realestate</span></h2>
				<div class="card bg-dark text-white" id=cardMobile>
					<div class="card-body d-flex flex-column text-center" id=card-bodyMobile>
						<h3 class="card-title" id=card-titleMobile>Industria</h3>
						<p class="card-text d-none d-md-block" id=card-textMobile>Somos especialistas en inmuebles industriales y contamos con un equipo de profesionales en el desarrollo y planificación de locaciones industriales. Aplicamos tecnologías de última generación, para cumplir con lo más alto estándares en seguridad y cuidado del medio ambiente.</p>
					</div>
				</div>
			</div>
	</section>


{% endblock %}