{% extends "realestateapp/base.html" %}

{% load static %}

{% block content %}

	<section id="serieMobile" style="background-image:url('/static/img/industria.jpg');">
		<div class="container text-center py-5" id="containerMobile">
			<div class="card text-center text-white" id=cardMobile>
				<div class="card-body d-flex flex-column text-center" id=card-bodyMobile>
						<h3 class="card-title" id=card-titleMobile>Industria</h3>
						<p class="card-text" id=card-textMobile>Somos especialistas en inmuebles industriales y contamos con un equipo de profesionales en el desarrollo y planificación de locaciones industriales. Aplicamos tecnologías de última generación, para cumplir con lo más alto estándares en seguridad y cuidado del medio ambiente.</p>
						<a href="{% url 'home' %}#serie" class="btn btn-light mt-3">Volver</a>
					</div>
				</div>
			</div>
	</section>


{% endblock %}