{% extends "realestateapp/base.html" %}

{% load static %}

{% block content %}

		<section id="nosotros"> <!-- Sección Nosotros -->
			<div id="nosotros-container" class="container bg-white d-flex align-items-center justify-content-center" >
				<div class="row w-100">
					<!-- Video a la izquierda -->
					<div class="col-md-6 d-flex justify-content-center align-items-center">
						<video id="myVideo" class="w-100" autoplay loop muted>
							<source src="/static/img/Video.mp4" type="video/mp4">
							Su navegador no soporta la etiqueta de vídeo.
						</video>
					</div>
					<!-- Texto a la derecha -->
					<div class="col-md-6 d-flex justify-content-center align-items-center">
						<div class="textonosotros p-4">
							<h2>Sobre <br> <span class="color-acento">Realestate</span></h2> <!-- Título de la sección Nosotros -->
							<p>
								A través de la creación, inversión y gerenciamiento de las mismas, buscamos aportar valor agregado y seguir transformando las industrias a las que pertenecemos, 
								mejorando la experiencia de los clientes, dándoles un servicio diferencial y generando retornos a nuestros inversores. <br><br>
								Fomentamos una cultura de ética, sin egos, sinérgica y profesional; de puertas abiertas, creativa y de 
								pensamientos distintos; con plena confianza y delegación en nuestra gente; estableciendo relaciones verdaderas y de largo plazo.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>


		{% endblock %}