{% extends "realestateapp/base.html" %}

{% load static %}

{% block content %}

<section id="serieMobile" style="background-image:url('/static/img/edificio.jpg');">
	<div class="container text-center py-5" id="containerMobile">
		<div class="card text-center text-white" id=cardMobile>
			<div class="card-body d-flex flex-column text-center" id=card-bodyMobile>
						<h3 class="card-title" id=card-titleMobile>Edificios</h3>
						<p class="card-text" id=card-textMobile>Desarrollamos Edificio residencial Premium exclusivos. Ofrecemos la posibilidad de acceder a unidades en lista cero (al costo): a precio cerrado, sin ajustes CAC, sin comisiones inmobiliarias. Obra de bajo riesgo constructivo y financiero, con tiempos de obra cortos por contar con proyecto ya aprobado.</p>
						<a href="{% url 'home' %}#serie" class="btn btn-light mt-3">Volver</a>
					</div>
				</div>
			</div>
	</section>


{% endblock %}