{% extends "realestateapp/base.html" %}

{% load static %}

{% block content %}
<section #registro class="py-5">
  <div class="container">
    <h2>Registro</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        {{ form.nombre.label_tag }} {{ form.nombre }}
      </div>
      <div class="mb-3">
        {{ form.apellido.label_tag }} {{ form.apellido }}
      </div>
      <div class="mb-3">
        {{ form.telefono.label_tag }} {{ form.telefono }}
      </div>
      <div class="mb-3">
        {{ form.email.label_tag }} {{ form.email }}
      </div>
      <div class="mb-3">
        {{ form.password1.label_tag }} {{ form.password1 }}
      </div>
      <div class="mb-3">
        {{ form.password2.label_tag }} {{ form.password2 }}
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</section>
{% endblock %}